# macOS
.DS_Store
*.swp
*~

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/xcode/
Package.resolved

# CocoaPods (if ever added)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives & exports
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Provisioning profiles
*.mobileprovision
*.provisionprofile

# Secrets
*.env
*.env.*
